
[loggers]
keys=root,main,garmin_lib,nhl_lib,strava_lib,fit_lib,activity_compare

[handlers]
keys=consoleHandler

[formatters]
keys=consoleFormatter

#----- LOGGERS

[logger_root]
level=INFO
handlers=consoleHandler

[logger_garmin_lib]
level=DEBUG
handlers=consoleHandler
qualname=garmin_lib
propagate=0

[logger_nhl_lib]
level=DEBUG
handlers=consoleHandler
qualname=nhl_lib
propagate=0

[logger_strava_lib]
level=DEBUG
handlers=consoleHandler
qualname=strava_lib
propagate=0

[logger_main]
level=DEBUG
handlers=consoleHandler
qualname=main
propagate=0

[logger_fit_lib]
level=DEBUG
handlers=consoleHandler
qualname=fit_lib
propagate=0

[logger_activity_compare]
level=DEBUG
handlers=consoleHandler
qualname=activity_compare
propagate=0


#----- HANDLERS

[handler_consoleHandler]
class=StreamHandler
formatter=consoleFormatter
args=(sys.stdout,)

#----- FORMATTERS

[formatter_consoleFormatter]
format=%(asctime)s - %(lineno)s - %(name)s - %(levelname)s - %(message)s
datefmt=%Y-%m-%d %H:%M:%S
class=logging.Formatter
